@model EventsWebApp.Models.Event_
@{
    var username = new EventsWebApp.Models.EventsAppDb().UserProfiles.Find(Model.UserID).UserTrueName;
}
  <div class="btn-group pull-left">
      
<button class="btn btn-default btn-md">@Resource.Resource.numberParticipant : @Model.UserProfiles.Count</button>
            <a href="@Url.Action("Show", "UserProfile", new { id = Model.UserID })"  class="btn btn-default btn-md">@Resource.Resource.creator: @username</a>
      </div>
<div class="btn-group pull-right">
    @if (Model.UserID == ViewBag.CurrentUserId)
    {
        <a href="@Url.Action("Remove", new { id = Model.Event_Id })" onclick="return confirm('@Resource.Resource.areYouSure')" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-trash"></span>@Resource.Resource.delete</a>
    }
    <a id="event_subscribe_@Model.Event_Id" href="@Url.Action("Subscribe", new { id = Model.Event_Id, ReturnPage = "Index" })" class="btn btn-warning btn-md">
        <span class="glyphicon glyphicon-thumbs-down"></span>@Resource.Resource.unSubscribe</a>
</div>
<script>
    $(function () {
        $('#event_subscribe_@Model.Event_Id').click(function (e) {
                    e.preventDefault();

                    $.get('@Url.Action("SubscribeAjax", new { id = Model.Event_Id })', function (data) {
                        $('#event_container_@Model.Event_Id').html(data);
                    });
                    

                });

            });
</script>
