@model IEnumerable<EventsWebApp.Models.Event_>

@{    
    ViewBag.Title = Resource.Resource.nearestEvents;
}

<legend align="center">@ViewBag.Title</legend>

<div class="row">
    <br>

    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-xs-9">

                @foreach (var item in Model)
                {
                    @Html.Partial("_EventPartial", item)
                    
                    if (item.Subjects != null)
                    {
                    <h4>@Resource.Resource.tags: 
                            @if (item.Subjects.Split(',')[0] != "None")
                            {
                                foreach (string s in item.Subjects.Split(','))
                                {
                                <span class="label label-info">@s</span>
                                }
                            }
                    </h4>
                    }
                    
                    <hr />
               
                }






            </div>
            <div class="col-xs-3">


                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-user text-success"></span>@Resource.Resource.mostActiveParticipant</a>
                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body panel-body-users" align="center">
                                <ul class="list-group">
                                    <h3>
                                        @foreach (var subscriber in ViewBag.ActiveSubscribers)
                                        { 
                                            <li class="list-group-item">

                                                <span class="label label-success">
                                                    <a href="@Url.Action("Show", "UserProfile", new { id = subscriber.UserId })">@subscriber.UserTrueName
                                                    </a>
                                                </span>

                                            </li>
                                        
                                        }
                                    </h3>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <br>
    </div>
</div>

@section scripts {

    @foreach (var item in Model)
    {
        
    }
}